<section class="feature_part pt-4">
    <div class="container-fluid p-lg-0 overflow-hidden">
        <div class="row align-items-center justfiy-content-between">
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="https://previews.123rf.com/images/lightvisionftb/lightvisionftb1509/lightvisionftb150900055/45260270-circuit-board-green-background-motherboard-processor-and-chip-cpu-computer-design-illustration.jpg" alt="#">
                    <div class="hover_text">
                        <a href="product.html" class="btn_2">Shop PC</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="https://previews.123rf.com/images/lightvisionftb/lightvisionftb1509/lightvisionftb150900055/45260270-circuit-board-green-background-motherboard-processor-and-chip-cpu-computer-design-illustration.jpg" alt="#">
                    <div class="hover_text">
                        <a href="product.html" class="btn_2">Shop Laptops</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="https://previews.123rf.com/images/lightvisionftb/lightvisionftb1509/lightvisionftb150900055/45260270-circuit-board-green-background-motherboard-processor-and-chip-cpu-computer-design-illustration.jpg" alt="#">
                    <div class="hover_text">
                        <a href="product.html" class="btn_2">Shop Audio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section> 