<div class="col-lg-2">
    <div class="row">
        <h1>Best Sellers</h1>
    </div>
</div>
<div class="row">
    <div class="row align-items-center">
        <div class="single_best_seller_post_text">
            <img src="http://cwsmgmt.corsair.com/newscripts/landing-pages/spec-omega/gallery/gallery_full_01.jpg" alt="#">
            <div class="hover_text">
                <a href="item.html" class="btn_1">Add to Cart</a>
            </div>
        </div>
        <div class="single_best_seller_post_text">
                <img src="http://cwsmgmt.corsair.com/newscripts/landing-pages/spec-omega/gallery/gallery_full_01.jpg" alt="#">
                <div class="hover_text">
                    <a href="item.html" class="btn_1">Add to Cart</a>
                </div>
            </div>
            <div class="single_best_seller_post_text">
                    <img src="http://cwsmgmt.corsair.com/newscripts/landing-pages/spec-omega/gallery/gallery_full_01.jpg" alt="#">
                    <div class="hover_text">
                        <a href="item.html" class="btn_1">Add to Cart</a>
                    </div>
                </div>
    </div>
</div>
<div class="col-lg-2"></div>